<h1>Styles</h1>
{{#each styles }}
<a href="/{{_id}}"> <img src="{{ image }}"/> {{ name }}</a>

{{/each}} --
{{!-- 
<h1>Styles</h1>
{{#each styles }}
<a href="/styles/{{_id}}">//image goes here//{{ name }}</a> --}}

{{!-- <a href="/styles/{{_id}} img scr="css/images/IMG_0888.PNG">{{ name }}</a> 
 <a href=/styles/{{_id}} class="container">
  <img src="css/images/riri.jpeg" alt="hair">
  <button class="Hair">Button</button>
</a> 
<div id="hello"></div> 
  --}}